<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">

                <div class="col-md-12">
                    <div class="card card-plain">
                        <table datatable [dtTrigger]="dtTrigger" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>First name</th>
                                    <th>Last name</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let justify of justificantes">
                                    <td>{{ justify.id }}</td>
                                    <td>{{ justify.nombre }}</td>
                                    <td>{{ justify.apaterno }}</td>
                                    <td>{{ justify.amaterno }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>



    </div>
</div>