<div class="container">

    <form>
        <h1 class="logo-name" align="center">
            SEC</h1>
        <h4 align="center">Bienvenido al Sistema de Control de Asistencia de la SEC</h4>
        <p>Ingrese sus datos para acceder al sistema.</p>
        <div class="group">

            <input type="text" placeholder="Usuario"><span class="highlight"></span><span class="bar"></span>

        </div>
        <div class="group">
            <input type="password" placeholder="Contraseña"><span class="highlight"></span><span class="bar"></span>

        </div>
        <button type="button" (click)="login()" class="button buttonBlue">Login
    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
  </button>
    </form>

</div>